/*
*   This is the general CSS file for UTC website.
*   Code by Malay Bhavsar
*/

/* Hard coded CSS goes here*/
* {
    margin: 0vw;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    cursor: default;
}
.Side_By_Side_2,
.Side_By_Side_3 {
    display: grid;
    height: auto;
}
.footer {
    padding: 2vw;
}
.footer_container {
    background-size: cover;
}
.sec2 {
    padding-top: 10vw;
    color: #ffffff;
}
#main_text {
    vertical-align: middle;
    padding-top: 3.5vw;
    font-size: 5vw;
    font-weight: 800;
}
.navi_link {
    text-align: center;
    padding: 3vw 3vw;
}
a:link,
a:active,
a:visited {
    color: inherit;
    text-decoration: none;
    padding: 1.5vw 1.5vw;
}
.navi_link li {
    display: inline-block;
    font-size: 1.7vw;
    text-decoration: none;
    color: #8d8d8d;
    transition-duration: 0.65s;
}
.navi_link li:hover {
    color: #ffffff;
}
.footer_text {
    text-align: center;
    padding-top: 1.5vw;
}
#copyright_text {
    padding: 1.5vw;
    font-size: 1.3vw;
    color: #646464;
}
/* Responsive css goes here */
/* For Mobile Screen */
@media screen and (max-width: 430px) {
    * {
        line-height: 23px;
        letter-spacing: 2px;
    }
}
/* For Tablet Screen */
@media screen and (min-width: 432px) and (max-width: 768px) {
    * {
        line-height: 24px;
        letter-spacing: 2px;
    }
    .Side_By_Side_2 {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0vw;
    }
    .Side_By_Side_3 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0vw;
    }
}
/* For Desktop Screen */
@media screen and (min-width: 769px) {
    /** {
        line-height: 25px;
        letter-spacing: 1px;
    }*/
    .Side_By_Side_2 {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0vw;
    }
    .Side_By_Side_3 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0vw;
    }
}
